mixin form-item(title, desc, value, id, isChecked)
  +e.LI.form-item
    +e.form-radio
      +e.INPUT.form-input.input-radio.js-product-inner-radio.visually-hidden(type="radio" name="product-item-radio" value= value id= id checked=isChecked)
      +e.LABEL.form-label.label-radio(for= id) #{title}
    +e.desc #{desc}

mixin item(title, desc, price)
  +e.LI.item.swiper-slide
    +e.title
      +e.title-link(href="#") #{title}
    +e.desc #{desc}
    +e.img
      img(src="img/content/products-content-1.jpg")
    +e.bottom от
      +e.SPAN.price  #{price}
    +e.overlay
      +e.overlay-btn.btn(href="#") Купить товар


+b.product-inner
  +b.bread
    +e.UL.list.list-reset
      +e.LI.item
        +e.link(href="#") Главная
      +e.LI.item
        +e.link(href="#") Каталог
      +e.LI.item
        +e.link(href="#") Покрытия
      +e.LI.item
        +e.SPAN.link ArmorLine PU из полиуретана
  +b.H2.page-title ArmorLine PU из полиуретана
  +e.wrapper
    +e.left
      +e.img
        img(src="img/content/products-content.jpg")
    +e.right
      +e.content Двухкомпонентная композиция, предназначенная для устройства защитного покрытия с помощью безвоздушных распылителей или методом ручного нанесения.
      +e.FORM.form.js-product-inner-form
        +e.UL.form-list.list-reset
          +form-item("Комплект №1. МИНИ", "Основа 0,8 литр + 0,2 л. отвердитель (изоционат)", 10900, "product-mini", true)
          +form-item("Комплект №2. МИДИ ", "Основа 0,8 л. + 0,2 л. отвердитель (изоционат) 4 шт. (картонная упаковка).", 14900, "product-midi")
          +form-item("Комплект №3: ПРОФИ", "Основа 4,0 литра + 1,0 л. отвердитель (изоционат)", 20900, "product-profi")
        +e.price.js-product-inner-price 0 Р
        +e.BUTTON.btn.btn.btn-reset(type="submit") В корзину
        +e.form-download-link(href="#") Скачать описание в PDF

  +e.text
    p Система "ArmorLine PU" впитала в себя уникальные эксплуатационные свойства покрытий на основе полимочевины. Например такие, как прочность на изгиб и эластичность, что позволяет покрывать покрытием "ArmorLine PU" гибкие элементы транспорта из пластмассы. Устойчивость к изнашивающим и абразивным воздействиям "ArmorLine PU" подтверждены как при лабораторных, так и при практических испытаниях. 
    p В процессе разработки "ArmorLine PU" также решены насущные для всех проблемы:
    ol
      li скорость высыхания покрытия сокращена до 2 часов (полное высыхание 24 часа),
      li устранен не промес и осадкок в таре,
      li отпадает необходимость иметь специальное оборудование для получения отличного результата,
      li обеспечена простота применения покрытия в формате "вставил-закрутил-взболтал-ГОТОВО" 
    h3 ГЛАВНЫЕ ПРЕИМУЩЕСТВА!
    ol
      li не требует специального оборудования для нанесения;
      li высокая прочность и ЭЛАСТИЧНОСТЬ; 
      li имеет 100% однородную структуру (легко перемешивается, не оставляет осадка в таре)          
      li 100% УФ-стойкость (под воздействием солнечного излучения не желтеет и не выгорает, подтверждено лабораторными испытаниями);
      li самый низкий расход материала из расчета 1 кг. на 1 кв.м.
      li самый устойчивый к изнашивающим и абразивным воздействиям материал;
      li термостабильность покрытия в широком диапазоне температур (от -60°C до + 150°С)
      li материал быстро высыхает, через 24 часа готов к эксплуатации,
      li материал прошел испытания на климатическое старение, где подтвердил срок службы 30 лет без изменения физических свойств
      li 100% лучший продукт в России в соотношении «цена/качетво»,
      li многообразие цветов (черный, серый, белый, красный, зеленый и прочее).
    h3 Основные области применения системы "ArmorLine PU":
    ul
      li Защита от износа металлических, пластмассовых и деревянных оснований;
      li Защита от коррозии и химического воздействия;
      li Декоративные покрытия архитектурных арт-объектов, скульптур, предметов промышленного дизайна;
      li Защита любых поверхностей, подверженных воздействию ультра\фиолетовой радиации, цвет которых должен оставаться без изменений.
    h3 Применение:
    ul
      li Смешивание 4:1 (соотношение компонентов А:B)
      li Жизнеспособность: в течение 25-30 минут при 20°С
      li Время сушки на отлип: при 20°С менее 2 (двух) часов
      li Поверхностная прочность: 12 часов при 20°С
      li Полная сушка: 24 часа при 20°С (для обычной эксплуатации)
      li Полный набор прочности:7 суток (для экстримальной эксплуатации)

  +b.product
    +b.H2.page-title С этим товаром покупают
    +e.btns
      .swiper-button-prev Назад
      .swiper-button-next Вперед
    .swiper-container
      +e.UL.list.list-reset.swiper-wrapper
        +item("ArmorLine L Грунт по существующему ЛКП и метал...", "Грунт", "13\u00A0900\u00A0₽")
        +item("ArmorLine L Грунт по существующему ЛКП и метал...", "Грунт", "13\u00A0900\u00A0₽")
        +item("ArmorLine SP защитный УФ стойкий лак", "Защитный лак", "34\u00A0900\u00A0₽")
        +item("ArmorLine SP защитный УФ стойкий лак", "Грунт", "2\u00A0900\u00A0₽")
